<div 
   data-algolia-index="[[ index ]]" 
   data-algolia-position="[[ productPosition ]]" 
   data-algolia-queryid="[[ queryID ]]" 
   data-algolia-objectid="[[ objectID ]]" 
   class="product product--[[ objectID ]]"
   data-handle="[[ handle ]]" 
   data-product-id="[[ id ]]"
   data-variant-id="[[ objectID ]]"
   data-distinct="[[ _distinct ]]"
   title="[[# helpers.fullTitle ]][[/ helpers.fullTitle ]]"
   >
  <a class="product__image" href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]">
  	<img 
         srcset="[[# helpers.sizedImage]]680x680[[/ helpers.sizedImage]] 680w,
                 [[# helpers.sizedImage]]300x300[[/ helpers.sizedImage]] 300w"
         sizes="(max-width: 640px) 300px,
                680px"
         src="[[# helpers.sizedImage]]680x680[[/ helpers.sizedImage]]" 
         class="product__image-main" />
    <img 
         srcset="[[# helpers.secondaryImage]]680x680[[/ helpers.secondaryImage]] 680w,
                 [[# helpers.secondaryImage]]300x300[[/ helpers.secondaryImage]] 300w"
         sizes="(max-width: 640px) 300px,
                680px"
         src="[[# helpers.secondaryImage]]680x680[[/ helpers.secondaryImage]]" 
         class="product__image-hover" />
  </a>
  <div class="product__meta">
    <h2 class="product__brand">[[ vendor ]]</h2>
    <div class="product__name">
      [[# helpers.fullEscapedHTMLTitle ]][[/ helpers.fullEscapedHTMLTitle ]]
    </div>
    <div class="product__price">
      [[# helpers.instantsearchPrice ]][[/ helpers.instantsearchPrice ]]
    </div>
    <form class="product__add-to-cart" method="post" action="/cart/add" enctype="multipart/form-data">
      [[# helpers.variantOptions ]][[/ helpers.variantOptions]]
      <input type="hidden" name="quantity" value="1" />
      <button type="submit" class="btn" disabled>
        Select Size
      </button>
    </form>
  </div>
</div>
