<label class="[[ cssClasses.label ]]">
  [[# type.disjunctive ]]
    <input type="checkbox" class="[[ cssClasses.checkbox ]]" [[# isRefined ]]checked[[/ isRefined ]]/>
  [[/ type.disjunctive ]]
  [[& label ]]
  [[ this ]]
</label>
