<label class="[[ cssClasses.label ]] [[ cssClasses.label ]]--colour [[ cssClasses.label ]]--[[ label ]]" data-facet="colour:[[ label ]]">
  <div class="ais-facet__swatch ais-facet__swatch--[[label]]" style="background-color: [[ label ]]">
    <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="ais-facet__swatch-selected">
    	<path d="M4.62752 8.0928L0.882562 4.0464L0 5L4.62752 10L13 0.953601L12.1174 0L4.62752 8.0928Z" fill="white"/>
    </svg>
    <svg width="13" height="13" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg" class="ais-facet__swatch_deselect">
		<path d="M35 0.171997L19 16.172L3.00001 0.171997L0.171005 3L16.172 19L0.171005 35L3.00001 37.828L19 21.828L35 37.828L37.828 35L21.828 19L37.828 3L35 0.171997Z" fill="white"/>
	</svg>
  </div>
  [[# type.disjunctive ]]
    <input type="checkbox" class="[[ cssClasses.checkbox ]]" [[# isRefined ]]checked[[/ isRefined ]]/>
  [[/ type.disjunctive ]]
  [[& label ]]
</label>
