<div 
   data-algolia-index="[[ index ]]" 
   data-algolia-position="[[ productPosition ]]" 
   data-algolia-queryid="[[ queryID ]]" 
   data-algolia-objectid="[[ objectID ]]" 
   class="product product--[[ objectID ]]"
   data-handle="[[ handle ]]" 
   data-product-id="[[ id ]]"
   data-variant-id="[[ objectID ]]"
   data-distinct="[[ _distinct ]]"
   title="[[# helpers.fullTitle ]][[/ helpers.fullTitle ]]"
   >
  <a class="product__image" href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]">
    <picture class="product__image-main">
      <source 
        media="(min-width: 90em)" 
        data-srcset="[[# helpers.sizedImage]]880x880[[/ helpers.sizedImage]] 2x, [[# helpers.sizedImage]]440x440[[/ helpers.sizedImage]] 1x">
      <img 
        src="[[# helpers.sizedImage]]30x30[[/ helpers.sizedImage]]"
           data-src="[[# helpers.sizedImage]]300x300[[/ helpers.sizedImage]]" 
           data-srcset="[[# helpers.sizedImage]]600x600[[/ helpers.sizedImage]] 2x, [[# helpers.sizedImage]]300x300[[/ helpers.sizedImage]] 1x" 
           alt="[[# helpers.fullTitle ]][[/ helpers.fullTitle ]]"
           class="lazyload">
    </picture>
    <picture class="product__image-hover">
      <source 
              media="(min-width: 90em)" 
              data-srcset="[[# helpers.secondaryImage]]880x880[[/ helpers.secondaryImage]] 2x, [[# helpers.secondaryImage]]440x440[[/ helpers.secondaryImage]] 1x">
      <img 
        src="[[# helpers.secondaryImage]]30x30[[/ helpers.secondaryImage]]"
           data-src="[[# helpers.secondaryImage]]300x300[[/ helpers.secondaryImage]]" 
           data-srcset="[[# helpers.secondaryImage]]600x600[[/ helpers.secondaryImage]] 2x, [[# helpers.secondaryImage]]300x300[[/ helpers.secondaryImage]] 1x"
           class="lazyload">
    </picture>
  </a>
  <div class="product__meta">
    <h2 class="product__brand">[[ vendor ]]</h2>
    <div class="product__name">
      [[# helpers.fullEscapedHTMLTitle ]][[/ helpers.fullEscapedHTMLTitle ]]
    </div>
    <div class="product__price">
      [[# helpers.instantsearchPrice ]][[/ helpers.instantsearchPrice ]]
    </div>
    <form class="product__add-to-cart" method="post" action="/cart/add" enctype="multipart/form-data">
      [[# helpers.variantOptions ]][[/ helpers.variantOptions]]
      <input type="hidden" name="quantity" value="1" />
      <button type="submit" class="btn" disabled>
        Select Size
      </button>
    </form>
  </div>
</div>
