<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

     {% section 'custom-banner' %}
    
     {% section 'custom-4-img-1' %}
    
     {% section 'custom-4-collection-1' %}
    
     {% section 'custom-4-img-2' %}
    
     {% section 'custom-4-collection-2' %}
    
     {% section 'custom-4-img-3' %}
    
     {% section 'custom-4-collection-3' %}
    
     {% section 'custom-4-img-4' %}
    
     {% section 'custom-4-collection-4' %}
    
    {% section 'custom-3-img-5' %}
    
    {% section 'custom-3-img-6' %}
    
 	{% section 'custom-banner-bottom' %}
  </div>
</div>
