
   <div class="sixteen columns clearfix">
<!--   <h1 class="collection_title text-center">
    {{ page.title }}
  </h1> -->
</div>
<div class="sixteen columns clearfix">
         {{ page.content }}
       
</div>